doctype html
html
  head
    title= '出错了 - ' + status
  body
    #error
      h1 错误
      p 好像出问题了！稍后回来。
      if env == 'development'
        h2 Message:
        pre: code= error
        h2 Stack:
        pre: code= stack
