doctype html
html
  head
    title= '出错了 - ' + status
  body
    #error
      h1 Error
      p Looks like something broke! Try again later.
      if env == 'development'
        h2 Message:
        pre: code= error
        h2 Stack:
        pre: code= stack
