.footer {
  margin: 2em 0;
  &-content {
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.copyright {
  color: #888;  
}

.links {
  a {
    text-decoration: none;
    color: #888;
    margin-right: 1.5em;

    &:hover {
      color: #666;
    }
  }
}
